<div class="banner" style="background-image: url(<%= image_path 'banner.jpg' %>);">
  <div class="banner-content">
    <h1>Welcome to the DeadFadistas!</h1>
    <p>Find (in)famous dead fadistas</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
